body {
  background-color: #FFF;
  margin-top: 15px;
}

header {
  border: 1px solid #000;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

section {
  padding-left: 15px;
  padding-right: 15px;
}

img {
  margin-bottom: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin-top {
  margin-top: 30px;
}

.votes {
  color: white;
  padding: 5px;
}

.votes form {
  display: inline-block;
}

.relative {
  position: relative;
}

.top-ten {
  background-color: #337ab7;
  box-shadow: 0 2px 4px #333;
  color: white;
  padding: 12px;
  position: absolute;
  top: 0;
  right: 0;
}
