body {
  background-color: #FFF;
}

h1 {
  margin-bottom: 30px;
}

footer {
  margin: 30px 0;
}

.navbar-default .navbar-nav li a {
  color: #337ab7;
}

.navbar-default .navbar-nav li a:hover {
  color: #337ab7;
  text-decoration: underline;
}
